.drawer-component {

  &.fade {
    @include animation(fade 300ms);
    @include opacity(1);
  }

  .avatar {
    display: block;
    width: 100px;
    border-radius: 3px;
    margin: 0 auto;
  }

  .user-full-name {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
  }

  .user-name {
    font-size: 18px;
    color: $color-gray-6;
    text-align: center;
    margin-top: 5px;
  }

  .header {
    @include display-flex;
    @include align-items(center);
    justify-content: center;
    height: 64px;

    .logo {
      @include display-flex;
      @include align-items(center);
      justify-content: center;
    }

    .logo-text {
      font-size: 28px;
      margin-left: 10px;
    }

  }
  .org-view {
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-light-gray;
  }

  .filter-view {
    margin:10px;
    margin-top: 30px;

    .title {
      font-size: 24px;
    }

    .filter-item {
      margin-top: 15px;

      .filter-title {
        text-align: center;
        margin:5px;
        font-size: 18px;
      }
    }


  }

}