<div class="mdl-layout__header-row">
  <div class="navbar">

    <div class="search-box">
      <i class="material-icons gray">search</i>
      <input type="text" class="search-box-input" placeholder="Search GitHub Users" ng-keyup="$ctrl.findUsers" ng-model="$ctrl.userSearch"/>
    </div>
    <div class="flex-spacer"></div>
    <nav class="main-menu">
      <a class="main-menu__item active" href="#">Personal</a>
      <a class="main-menu__item" href="#">Open Source</a>
      <a class="main-menu__item" href="#">Business</a>
      <a class="main-menu__item" href="#">Explore</a>
    </nav>
  </div>
</div>


