.navbar {
  @include display-flex;
  @include align-items(center);
  width: 100%;
  height: inherit;



  .github-title {
    font-size: 22px;
    font-weight: 500;
  }

  .search-box {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 20px;

    .search-box-input {
      font-size: 18px;
      width: 300px;
      border: none;
      outline: 0;
      margin-left: 15px;
      line-height: 63px;
      background-color: transparent;
    }

    .gray {
      opacity: 0.5;
    }

  }
  .flex-spacer {
    flex-grow: 1
  }
  .main-menu {
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;

    .main-menu__item {
      font-size: 18px;
      padding: 0 24px;
      text-decoration: none;
      color: #000;
      font-weight: 400;
      line-height: 60px;

      &.active {
        border-bottom: 4px solid #E51C20;
      }
    }
  }

}