@import 'compass';
@import 'colors';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext);

$roboto: "Roboto", sans-serif;

body {
  background-color: $color-page-bg;
  margin: 0;
  padding: 0;
  font-family: $roboto;
}

.mdl-layout__header {
  padding: 0px 40px 0px 0px;

  .mdl-layout__header-row {
    padding-left: 0px !important;
  }

  .mdl-layout__drawer-button {
    color: #3C4959;
  }
}

.mdl-layout__tab-bar {
  background-color: transparent;
  height: 48px;
}

.rzslider {
  .rz-pointer {
    top: -7px;
    z-index: 3;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-color: #03A9F4;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    outline: none;

    &:after {
      display: none;
    }
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button,
[ng-click],
[ng-link] {
  cursor: pointer;
}

*::-webkit-scrollbar {
  width: 6px !important;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .4);
}

@import '../components/main-view/main-view.component';
@import '../components/app-navbar/app-navbar.component';
@import '../components/drawer/drawer.component';
@import '../components/user-card/user-card.component';
@import '../components/user-detail-view/user-detail-view.component';
@import '../components/repo-list/repo-list.component';
@import '../components/repo-detail-view/repo-detail-view.component';
