<div class="repo-detail-header">
  <div class="repo-detail-info">
    <img ng-src="{{$ctrl.repo.owner.avatar_url}}" class="repo-detail-avatar"/>
    <div class="repo-detail-title">
      <div class="repo-detail-name">{{$ctrl.repo.full_name}}</div>
      <div class="repo-detail-description">{{$ctrl.repo.description}}</div>
    </div>
  </div>
  <div class="mdl-layout__tab-bar mdl-js-tabs mdl-js-ripple-effect">
    <a href="#scroll-tab-1" ng-click="$ctrl.setActiveTab(1)" ng-class="{'is-active' : $ctrl.isActiveTab(1)}"
       class="mdl-layout__tab is-active">Code</a>
    <a href="#scroll-tab-2" ng-click="$ctrl.setActiveTab(2)" ng-class="{'is-active' : $ctrl.isActiveTab(2)}"
       class="mdl-layout__tab">Issues</a>
    <a href="#scroll-tab-3" ng-click="$ctrl.setActiveTab(3)" ng-class="{'is-active' : $ctrl.isActiveTab(3)}"
       class="mdl-layout__tab">Pull Requests</a>
    <a href="#scroll-tab-4" ng-click="$ctrl.setActiveTab(4)" ng-class="{'is-active' : $ctrl.isActiveTab(4)}"
       class="mdl-layout__tab">Contributors</a>
  </div>
  <div class="theme__button"><i class="material-icons white">star</i></div>
</div>
<section ng-class="{'is-active' : $ctrl.isActiveTab(1)}" class="mdl-layout__tab-panel" id="scroll-tab-1">
  <div class="page-content">
    <div class="stats">
      <div class="stat-box">
        <div class="title">WATCH</div>
        <div class="number">{{$ctrl.repo.subscribers_count}}</div>
      </div>
      <div class="splitter"></div>
      <div class="stat-box">
        <div class="title">STAR</div>
        <div class="number">{{$ctrl.repo.stargazers_count}}</div>
      </div>
      <div class="splitter"></div>
      <div class="stat-box">
        <div class="title">FORK</div>
        <div class="number">{{$ctrl.repo.forks_count}}</div>
      </div>
    </div>
  </div>
</section>
<section ng-class="{'is-active' : $ctrl.isActiveTab(2)}" class="mdl-layout__tab-panel" id="scroll-tab-2">
  <div class="page-content">
  </div>
</section>
<section ng-class="{'is-active' : $ctrl.isActiveTab(3)}" class="mdl-layout__tab-panel" id="scroll-tab-3">
  <div class="page-content">
  </div>
</section>
<section ng-class="{'is-active' : $ctrl.isActiveTab(4)}" class="mdl-layout__tab-panel" id="scroll-tab-4">
  <div class="page-content">
    <div class="repo-user-list">
      <user-card class="user-card mdl-shadow--2dp" ng-click="$ctrl.onUserCardClick(contributor)"
                 ng-repeat="contributor in $ctrl.contributorsOfRepo | filter:$ctrl.searchUser | orderBy:$ctrl.sortType:$ctrl.sortReverse"
                 contributor="contributor"></user-card>
    </div>

  </div>
</section>
