<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
  <app-navbar class="mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600"></app-navbar>
  <drawer class="mdl-layout__drawer" user-name={{$ctrl.userName}}></drawer>
  <main-view class="mdl-layout__content" contributors=$ctrl.filteredContrData active-user=$ctrl.activeUser
             active-repo=$ctrl.activeRepo is-data-loaded=$ctrl.isDataLoaded></main-view>
</div>
