<div class="user-detail-header">
  <div class="user-detail-info">
    <img ng-src="{{$ctrl.user.avatar_url}}" class="user-detail-avatar"/>
    <div class="user-detail-title">
      <div class="user-detail-name">{{$ctrl.user.name}}</div>
      <div class="user-detail-login-name">{{$ctrl.user.login}}</div>
      <div class="user-detail-location" ng-if="$ctrl.user.location">
        <i class="material-icons white location-icon">location_on</i>
        <div>{{$ctrl.user.location}}</div>
      </div>
    </div>
  </div>
  <div class="mdl-layout__tab-bar mdl-js-tabs mdl-js-ripple-effect">
    <a href="#scroll-tab-1" ng-click="$ctrl.setActiveTab(1)" ng-class="{'is-active' : $ctrl.isActiveTab(1)}"
       class="mdl-layout__tab is-active">Overview</a>
    <a href="#scroll-tab-2" ng-click="$ctrl.setActiveTab(2)" ng-class="{'is-active' : $ctrl.isActiveTab(2)}"
       class="mdl-layout__tab">Repositories</a>
  </div>
  <div class="theme__button"><i class="material-icons white">person_add</i></div>
</div>
<section ng-class="{'is-active' : $ctrl.isActiveTab(1)}" class="mdl-layout__tab-panel" id="scroll-tab-1">
  <div class="page-content">

    <div class="stats">
      <div class="stat-box">
        <div class="title">REPOS</div>
        <div class="number">{{$ctrl.user.public_repos}}</div>
      </div>
      <div class="splitter"></div>
      <div class="stat-box">
        <div class="title">GISTS</div>
        <div class="number">{{$ctrl.user.public_gists}}</div>
      </div>
      <div class="splitter"></div>
      <div class="stat-box">
        <div class="title">FOLLOWERS</div>
        <div class="number">{{$ctrl.user.followers}}</div>
      </div>
      <div class="splitter"></div>
      <div class="stat-box">
        <div class="title">FOLLOWING</div>
        <div class="number">{{$ctrl.user.following}}</div>
      </div>
    </div>

    <h5>Popular Repositories</h5>
    <repo-list repos="$ctrl.user.repos" max-record="5"></repo-list>
  </div>
</section>
<section ng-class="{'is-active' : $ctrl.isActiveTab(2)}" class="mdl-layout__tab-panel" id="scroll-tab-2">
  <div class="page-content">
    <h5>Repositories</h5>
    <repo-list repos="$ctrl.user.repos" search-enabled="true" max-record="250"></repo-list>
  </div>
</section>
