.user-detail-view {
  width: 100%;
  min-height: 560px;

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  background-color: $color-white;
  margin-left: $user-card-list-width + 20px;

  .user-detail-header {
    height: 240px;
    background-color: #03A9F4;
    border-top: 25px solid #0288D1;
    position: relative;

    .user-detail-info {
      @include display-flex;
      @include align-items(center);
      height: 192px;
      padding-left: 20px;

      .user-detail-title {
        margin-left: 10px;

        .user-detail-name {
          color: $color-white;
          font-size: 24px;
        }
        .user-detail-login-name {
          color: #efefef;
        }

        .user-detail-location {
          margin-top: 20px;
          @include display-flex;
          @include align-items(center);
          color: #efefef;
          font-size: 12px;

          .location-icon {
            font-size: 14px;
          }
        }
      }
    }

    .theme__button {
      position: absolute;
      cursor: pointer;
      background-color: #f44336;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
      outline: 0 !important;
      color: $color-white;
      border-radius: 100%;
      font-size: 26px;
      -webkit-transition: background-color 100ms linear;
      transition: background-color 100ms linear;
      height: 36px;
      line-height: 26px;
      width: 36px;
      text-align: center;
      padding: 15px;
      bottom: -25px;
      right: 25px;
      font-family: "Material-Design-Icons";
      -webkit-transition: all 200ms ease;
      transition: all 200ms ease;

      i {
        font-size: 32px;
      }
    }

    .theme__button:hover {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }

    .user-detail-avatar {
      border-radius: 100%;
      width: 100px;
      height: 100px;
      border: 5px solid #8DC5DE;
    }

  }

  .page-content {
    padding: 20px;

    .stats {
      @include display-flex;
      @include align-items(center);
      @include justify-content(center);
      height: 80px;

      .stat-box {
        @include display-flex;
        @include align-items(center);
        @include justify-content(center);
        @include flex-direction(column);
        height: 100%;
        width: 120px;

        .title {
          font-size: 16px;
          font-weight: 400;
          color: $color-gray-9;
        }

        .number {
          font-size: 36px;
          line-height: 48px;
          color: $color-gray-6;
        }
      }

      .splitter {
        width: 3px;
        margin-left: 5px;
        margin-right: 5px;
        height: 70%;
        background-color: $color-light-gray;
      }

    }

    .repos-search {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
      width: 450px;
      height: 40px;
      margin: 0 auto;
      background-color: #fefefe;
      display: flex;
      align-items: center;
      padding-left: 10px;

      .repos-search-input {
        height:40px;
        border:none;
        background-color: transparent;
        padding-left: 15px;
        font-size: 16px;
        width: 100%;
      }
    }



  }
}