.user-card {
  @include display-flex;
  @include align-items(center);
  background-color: $color-white;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  width: 340px;
  height: 80px;
  margin: 5px;
  border-radius: 3px;
  padding-left: 10px;
  position: relative;

  &:hover {
  }

  .user-card-header {
    background-color: #efefef;
    height: 100px;
    position: relative;
  }

  .user-avatar {
    border-radius: 100%;
    width: 50px;
    height: 50px;
  }

  .user-login-name {
    margin-left: 10px;
    flex-grow: 1;
  }

  .contr-number {
    text-align: center;
    margin-right: 10px;
    font-size: 12px;

    span {
      color: #aa0000;
      font-size: 16px;
    }
  }

}