

  <img ng-src="{{$ctrl.contributor.avatar_url}}" class="user-avatar"/>
  <div class="user-login-name"><span>{{$ctrl.contributor.login}}</span></div>

  <div class="contr-number"><span>{{$ctrl.contributor.contributions}}</span><br/>commits</div>
<!--  <div class="contr-number"><span>{{$ctrl.contributor.user_info.followers}}</span><br/>followers</div>
  <div class="contr-number"><span>{{$ctrl.contributor.user_info.public_repos}}</span><br/>repos</div>-->


