$user-card-list-width: 380px;

.main-view {
  @include display-flex;
  @include flex-direction(column);

  .view-header {
    background-color: #3C4959;
    height: 64px;
    padding-left: 15px;
    position: fixed;
    width: 100%;
    z-index: 99;

    @include display-flex;
    @include align-items(center);

    .view-title {
      color: $color-white;
      font-weight: 300;
      margin-left: 15px;
      font-size: 32px;
    }
    .icon-contributor {
      font-size: 32px;
    }
    .white {
      color: $color-white;
    }
  }

  .view-content {
    @include display-flex;
    margin-top: 64px;
    padding: 20px;
    height: 100%;
    position: relative;

    .detail-views {
      margin-left: $user-card-list-width + 20px;
    }

    .user-list-view {
      width: $user-card-list-width;
      position: fixed;
      overflow-x: hidden;
      overflow-y: auto;
      height: calc(100% - 160px);

      .user-list-view-header {
        @include display-flex;
        @include align-items(center);
        position: relative;

        .user-search {
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
          width: 320px;
          height: 40px;
          background-color: #fefefe;
          display: flex;
          align-items: center;
          padding-left: 10px;
          margin-left: 5px;
          border-radius: 3px;

          .user-search-input {
            height: 40px;
            border: none;
            background-color: transparent;
            padding-left: 15px;
            font-size: 16px;
            width: 100%;
          }
        }

        .user-search-menu {
          margin-left: 4px;
        }

        .user-search-menu-items {
          list-style: none;
          margin: 0;
          padding: 0;
          width: 150px;
          display: block;
          background: #3C4959;
          margin: 0;
          padding: 0;
          border: none;
          border-radius: 2px;
          position: absolute;
          overflow: hidden;
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0);
          -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
          will-change: transform;
          transition: transform .3s cubic-bezier(.4, 0, .2, 1), opacity .2s cubic-bezier(.4, 0, .2, 1);
          transition: transform .3s cubic-bezier(.4, 0, .2, 1), opacity .2s cubic-bezier(.4, 0, .2, 1), -webkit-transform .3s cubic-bezier(.4, 0, .2, 1);
          z-index: -1;

          &.is-visible {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
            z-index: 999;
          }

          &.right {
            -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
            right: 5px;
            top: 35px;
          }

          .user-search-menu__item {
            padding: 5px;
            padding-left: 15px;
            color: $color-white;
            font-weight: 300;
            transition: all ease 500ms;
            display: flex;
            align-items: center;

            &:hover{
              background-color: #57616E;
            }

            .status-icon {
              width:28px;
              height: 26px;
            }
          }

          .splitter {
            height: 1px;
            background-color: #57616E;
            width: 100%;
            margin-top: 5px;
          }

          .title {
            color: #9a9c9e;
            padding: 10px;
            font-weight: 500;
          }

        }

      }

      .user-card-list {
        width: 100%;
        @include display-flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 20px;
      }

    }

    .prelodr-progressbar {
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 5px;
      width: 100%;
      background-color: #0f9d58;
      -webkit-animation: prelodr-background linear 2.5s infinite;
      animation: prelodr-background linear 2.5s infinite;
    }

    .prelodr-progressbar:before,
    .prelodr-progressbar:after {
      display: block;
      position: absolute;
      top: 0;
      z-index: 2;
      width: 0;
      background-color: #0f9d58;
      height: 5px;
      content: '';
      -webkit-animation: prelodr-front linear 2.5s infinite;
      animation: prelodr-front linear 2.5s infinite;
    }

    .prelodr-progressbar:before {
      right: 50%;
    }

    .prelodr-progressbar:after {
      left: 50%;
    }

    @-webkit-keyframes prelodr-background {
      0%, 24.9% {
        background-color: #0f9d58;
      }

      25%, 49.9% {
        background-color: #da4733;
      }

      50%, 74.9% {
        background-color: #1d6fee;
      }

      75%, 100% {
        background-color: #fdba2c;
      }
    }

    @keyframes prelodr-background {
      0%, 24.9% {
        background-color: #0f9d58;
      }

      25%, 49.9% {
        background-color: #da4733;
      }

      50%, 74.9% {
        background-color: #1d6fee;
      }

      75%, 100% {
        background-color: #fdba2c;
      }
    }

    @-webkit-keyframes prelodr-front {
      0% {
        width: 0;
        background-color: #da4733;
      }

      24.9% {
        width: 50%;
        background-color: #da4733;
      }

      25% {
        width: 0;
        background-color: #1d6fee;
      }

      49.9% {
        width: 50%;
        background-color: #1d6fee;
      }

      50% {
        width: 0;
        background-color: #fdba2c;
      }

      74.9% {
        width: 50%;
        background-color: #fdba2c;
      }

      75% {
        width: 0;
        background-color: #0f9d58;
      }

      100% {
        width: 50%;
        background-color: #0f9d58;
      }
    }

    @keyframes prelodr-front {
      0% {
        width: 0;
        background-color: #da4733;
      }

      24.9% {
        width: 50%;
        background-color: #da4733;
      }

      25% {
        width: 0;
        background-color: #1d6fee;
      }

      49.9% {
        width: 50%;
        background-color: #1d6fee;
      }

      50% {
        width: 0;
        background-color: #fdba2c;
      }

      74.9% {
        width: 50%;
        background-color: #fdba2c;
      }

      75% {
        width: 0;
        background-color: #0f9d58;
      }

      100% {
        width: 50%;
        background-color: #0f9d58;
      }
    }

  }

}
