<div class="main-view">
  <div class="view-header">
    <i class="material-icons icon-contributor white">person</i>
    <h1 class="view-title">{{$ctrl.viewTitle}}</h1>
  </div>
  <div class="view-content">
    <div ng-if="!$ctrl.isDataLoaded" class="prelodr-progressbar"></div>
    <div class="user-list-view" ng-if="$ctrl.contributors.length > 0">
      <div class="user-list-view-header">
        <div class="user-search">
          <i class="material-icons gray">search</i>
          <input type="text" placeholder="Find a contributor" ng-model="$ctrl.searchUser" class="user-search-input"/>
        </div>

        <button class="mdl-button mdl-button--icon user-search-menu" ng-click="$ctrl.toggleSearchMenu()"
                click-outside="$ctrl.closeThis()" outside-if-not="user-search-menu-items, user-search-menu">
          <i class="material-icons">more_vert</i>
        </button>

        <div class="user-search-menu-items right" ng-class="{'is-visible': $ctrl.isMenuVisible}">
          <div class="title">SORT BY</div>
          <a class="user-search-menu__item"
             ng-click="$ctrl.sortType = 'contributions'; $ctrl.sortReverse = !$ctrl.sortReverse">
            <div class="status-icon">
              <i class="material-icons" ng-if="$ctrl.sortType === 'contributions'">check</i>
            </div>
            <span>Commits</span>
            <div class="status-icon" ng-if="$ctrl.sortType === 'contributions'">
              <i class="material-icons" ng-if="$ctrl.sortReverse">arrow_drop_down</i>
              <i class="material-icons" ng-if="!$ctrl.sortReverse">arrow_drop_up</i>
            </div>
          </a>
          <a class="user-search-menu__item"
             ng-click="$ctrl.sortType = 'user_info.followers'; $ctrl.sortReverse = !$ctrl.sortReverse">
            <div class="status-icon">
              <i class="material-icons"
                 ng-if="$ctrl.sortType === 'user_info.followers'">check</i></div>
            <span>Followers</span>
            <div class="status-icon" ng-if="$ctrl.sortType === 'user_info.followers'">
              <i class="material-icons" ng-if="$ctrl.sortReverse">arrow_drop_down</i>
              <i class="material-icons" ng-if="!$ctrl.sortReverse">arrow_drop_up</i>
            </div>
          </a>
          <a class="user-search-menu__item"
             ng-click="$ctrl.sortType = 'user_info.public_repos'; $ctrl.sortReverse = !$ctrl.sortReverse">
            <div class="status-icon">
              <i class="material-icons"
                 ng-if="$ctrl.sortType === 'user_info.public_repos'">check</i></div>
            <span>Repo Count</span>
            <div class="status-icon" ng-if="$ctrl.sortType === 'user_info.public_repos'">
              <i class="material-icons" ng-if="$ctrl.sortReverse">arrow_drop_down</i>
              <i class="material-icons" ng-if="!$ctrl.sortReverse">arrow_drop_up</i>
            </div>
          </a>
          <div class="splitter"></div>
          <div class="title">VIEW</div>
          <a class="user-search-menu__item">Cards</a>
          <a class="user-search-menu__item" disabled>List</a>
        </div>

      </div>
      <div class="user-card-list">
        <user-card class="user-card mdl-shadow--2dp" ng-click="$ctrl.onUserCardClick(contributor)"
                   ng-repeat="contributor in $ctrl.contributors | filter:$ctrl.searchUser | orderBy:$ctrl.sortType:$ctrl.sortReverse"
                   contributor="contributor"></user-card>
      </div>
    </div>

    <user-detail-view ng-if="$ctrl.activeUser" user="$ctrl.activeUser"
                      class="user-detail-view"></user-detail-view>

    <repo-detail-view ng-if="$ctrl.activeRepo" repo="$ctrl.activeRepo"
                      class="repo-detail-view" contributors-of-repo="$ctrl.activeRepo.contributors"></repo-detail-view>


  </div>
</div>
