.repos {
  margin-top: 35px;

  .repo-card {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-light-gray;
    position: relative;
    margin-top: 15px;

    .repo-title {
      font-size: 18px;
      color: #0288D1;
    }

    .repo-description {
      font-size: 14px;
      color: $color-gray-6;
      margin-top: 10px;
    }

    .repo-update-date {
      font-size: 14px;
      color: $color-gray-9;
      margin-top: 10px;
    }

    .repo-stats {
      position: absolute;
      width: 180px;
      right: 0;
      top: 5px;
      @include display-flex;
      @include align-items(center);
      @include justify-content(flex-end);

      .repo-star {
        margin-left: 15px;
        color: $color-gray-6;
        @include display-flex;
        @include align-items(center);

        i {
          font-size: 15px;
        }
      }

      .repo-forks {
        margin-left: 15px;
        color: $color-gray-6;
        @include display-flex;
        @include align-items(center);

        i {
          font-size: 15px;
        }
      }
    }

  }
}