<div class="repos-search" ng-if="$ctrl.searchEnabled">
  <i class="material-icons gray">search</i>
  <input type="text" placeholder="Find a repository" ng-model="$ctrl.searchRepos" class="repos-search-input"/>
</div>
<div class="repos">
  <div class="repo-card" ng-repeat="repo in $ctrl.repos | filter:$ctrl.searchRepos | limitTo:$ctrl.maxRecord">
    <div class="repo-title" ng-click="$ctrl.openRepo(repo)">{{repo.name}}</div>
    <div class="repo-description">{{repo.description}}</div>
    <div class="repo-update-date">Updated on {{repo.updated_at | date: 'dd MMMM yyyy'}}</div>
    <div class="repo-stats">
      <div class="repo-lang">{{repo.language}}</div>
      <div class="repo-star"><i class="material-icons">star</i> <span>{{repo.stargazers_count}}</span></div>
      <div class="repo-forks"><i class="material-icons">call_split</i> <span>{{repo.forks}}</span></div>
    </div>
  </div>
</div>